
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	@extend .pos-rlt;
	@extend .bb;
	max-width: 100%;
	overflow-x: hidden;
}
.body {
	max-width: 100%;
	overflow: hidden;
}



.bmt-section {
	@extend .pos-rlt;
	@extend .bs-cov;
	@extend .br-no;
	@include bp();

	&__title {
		margin-bottom: 24px;

		h2 {
			margin: 0;
		}
		hr {
			flex-grow: 1;
			margin: 0 15px;
		}
	}

	&--gray {
		background-color: #f7f7f7;
	}
}

.bmt-container--large {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}