
a,
button,
input[type="button"],
input[type="submit"] {
	@include transition(all .25s);
	outline: none;
}

a {
	&:hover {
		@extend .td-n;
	}
}

p,
dl,
ol,
ul,
pre,
figure,
address,
fieldset,
blockquote {
	&:last-child { margin-bottom: 0; }
	&:first-child { margin-top: 0; }
}
fieldset {
	margin: 0;
	padding: 0;
}
hr {
	border-top: 1px solid #f3eff9;
}

ul:not([class]),
ol {
	list-style: none;
	@include fs(16px, 22px);

	[class*='uk-width'].uk-grid-margin,
	li:not([class*='uk-width']):not(:first-child) {
		margin-top: 30px;
	}
}

ul:not([class]) {
	padding: 0;
	@include fw(300);
	
	> li {
		padding: 0 0 0 30px;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 5px;
			@include size(11px, 11px);
			background-color: $color-green;
			border-radius: 1px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}
ul.bmt-advantages,
ul.bmt-disadvantages {
	padding: 0;
	list-style: none;
	@include fw(300);
	@include fs(16px, 29px);
	
	> li {
		padding: 0 0 0 50px;
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			@include size(29px, 29px);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100% auto;
		}

		& + li {
			margin-top: 24px;
		}
	}
}
ul.bmt-advantages > li:before {
	background-image: url(../img/icons/icon-check.png);
}
ul.bmt-disadvantages > li:before {
	background-image: url(../img/icons/icon-cancel.png);
}

ol {
	position: 0;
	counter-reset: myCounter;

	li {
		padding: 0 0 0 30px!important;
		position: relative;

		&:before {
			counter-increment: myCounter;
			content: counter(myCounter);
			position: absolute;
			left: 0;
			top: 2px;
			@include fs(24px, 22px);
			@include fw(900);
			color: $color-green;
		}
	}

	&.uk-grid-large {
		margin-left: -60px;

		& > * {
			padding-left: 60px;
		}
	}
}


h1,
.uk-h1 {
	margin-bottom: 40px;
	@extend .tt-upper;
	@include fw(700);
	font-style: italic;

	@media (max-width: $breakpoint-mini-max) {
		@include fs(24px, 30px);
	}
}
* + h1,
* + .uk-h1 {
	margin-top: 50px;
}
h2,
.uk-h2 {
	margin-bottom: 20px;
	@extend .tt-upper;
	@include fw(700);
	font-style: italic;
}
* + h2,
* + .uk-h2 {
	margin-top: 40px;
}
h3,
.uk-h3 {
	margin-bottom: 20px;
	@extend .tt-upper;
	@include fw(700);
	font-style: italic;
}
* + h3,
* + .uk-h3 {
	margin-top: 40px;
}
h4,
.uk-h4 {
	margin: 0;
	@extend .tt-upper;
	@include fw(700);
	font-style: italic;
}


.color-green {
	color: $color-green;
}
.color-red {
	color: $color-red;
}