
.bmt-block {
	@extend .pos-rlt;
	padding: 35px 0 55px;
	@include fs(16px, 24px);
}


.swiper-button-next,
.swiper-button-prev {
	opacity: .2;
	@include transition(all .25s);

	&:hover,
	&:focus,
	&:active {
		opacity: 1;
	}
}
.swiper-container-vertical {
	> .swiper-pagination-bullets {
		right: 45px;
		.swiper-pagination-bullet {
			margin: 9px 0;
		}
		@media (max-width: $breakpoint-medium-max) {
			right: 30px;
		}
		@media (max-width: $breakpoint-mini-max) {
			right: 15px;
		}
	}
}
.swiper-pagination-bullet {
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: $color-white;

	&:hover,
	&:focus,
	&:active {
		background-color: $color-green;
		opacity: 1!important;
	}

	&-active {
		background-color: $color-white;
	}
}


/* svg */

svg {
	@extend .d-ib;
	margin: 0;
}


.uk-dropdown {
	box-shadow: 0px 2px 5px 0px rgba(14, 15, 15, 0.06);

	.uk-nav {
		> li {
			width: 100%;

			a {
				span {
					color: $color-gray-light;
				}
			}
		}
	}
}


/* table */
table,
.uk-table {
	width: 100%;
	@include fw(300);
	background-color: $color-white;
	border-collapse: collapse;

	thead {
		@include fs(16px, 22px);
		@include fw(500);
	}
	th {
		text-align: center;
	}

	th, td {
		@include brd($border-color);
	}
}


/* accordion */

.uk-accordion {
	@include brd($border-color);

	> * {
		&:not(:last-child) {
			@include brd-r($border-color);

			@media (max-width: $breakpoint-small-max) {
				border-right: none;
				@include brd-b($border-color);
			}
		}
	}

	&-title {
		@include fs(16px, 22px);
		@include fw(600);
		padding: 15px 20px;
		text-align: center;
		background-color: $color-white;
		@include transition(all .25s);

		& + div {
			height: auto!important;
		}

		@media (max-width: $breakpoint-small-max) {
			& + div {
				height: 0!important;
			}
			&.uk-active + div {
				height: auto!important;
			}

			&:not(.uk-active) {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}

	table, .uk-table {
		margin: 0;
	}

	td {
		border: none;
		@include brd-t($border-color);
	}
}


/* forms */

form,
.uk-form {
	input,
	select,
	textarea {
		width: 100%;
		height: 155px;
		@include fw(300);

		&:focus {
			box-shadow: 0px 0px 9px 0px rgba(14, 15, 15, 0.1);
		}
	}
	textarea {
		padding: 15px 24px;
	}
	

	input[type=radio],
	input[type=checkbox] {
		@include size(20px, 20px);
		margin-right: 10px;
		border-color: $form-border;
	}
	input[type=checkbox] {
		&:checked:before,
		&:indeterminate:before {
			@include fs(16px, 18px);
			color: $color-black;
		}
	}

	input[type=radio],
	input[type=checkbox] {
		display: none;

		& + label {
			position: relative;
			margin-right: 45px;

			@media (max-width: $breakpoint-large-max) {
				margin-right: 20px;
			}

			&:before {
				content: '';
				@include size(20px, 20px);
				@include brd($border-color);
				border-radius: 5px;
				display: inline-block;
				vertical-align: middle;
				margin-right: 15px;
			}
		}

		&:checked + label:after {
			content: '';
			position: absolute;
			left: 5px;
			top: 5px;
			@include size(12px, 12px);
			background-color: $color-green;
			border-radius: 5px;
		}
	}
}

/* buttons */

.uk-button {
	@include fw(700);
	@extend .tt-upper;
	@include transition(all .25s);
	font-style: italic;
	border-radius: 2px;

	&-group {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 20px 50px;
		@include brd-b($border-color);

		@media (max-width: $breakpoint-large-max) {
			padding: 20px 25px;
		}
		@media (max-width: $breakpoint-small-max) {
			padding: 20px;
		}

		li {
			a {
				@extend .d-ib;
				padding: 0 25px;
				@include fs(16px, 22px);
				@include fw(300);
				color: #a4a4a4;

				@media (max-width: $breakpoint-large-max) {
					padding: 0 10px;
				}

				&:hover,
				&:focus,
				&:active {
					color: $color-black;
				}
			}

			&.uk-active {
				a {
					color: $color-black;
					@include fw(500);
				}
			}

			&:first-child {
				a {
					padding-left: 0;
				}
			}
			&:last-child {
				a {
					padding-right: 0;
				}
			}
		}
	}
}
.bmt-button {
	&--border {
		padding: 0 70px;
		color: #232324;
		background-color: transparent;
		border: 3px solid $button-background;

		&:hover,
		&:focus,
		&:active {
			color: $color-white;
			background-color: $button-background;
		}
	}
	&--gray {
		color: #b5b5b5;
		background-color: #e5e2e2;

		&:hover,
		&:focus,
		&:active {
			color: $color-white;
			background-color: $button-background;
		}
	}
	&-border {
		padding: 0 40px;
		background-color: transparent;
		@include brd(#dedede);
		border-radius: 2px;
		color: #b5b5b5;

		&:hover,
		&:focus,
		&:active {
			color: $color-white;
			border-color: $color-green;
			background-color: $color-green;
		}
	}
}
.bmt-show-more {
	margin-top: 30px;
	text-align: center;

	.uk-button {
		width: 220px;
	}
}

.uk-margin:last-child {
	margin-bottom: 0;
}


/* Статья */

.bmt-article {
	@include fs(14px, 22px);

	&__header {
		min-height: 527px;
		padding: 90px 60px 70px;
		color: $color-white;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: $breakpoint-medium-max) {
			padding: 50px 20px;
		}
		@media (max-width: $breakpoint-small-max) {
			min-height: 400px;
		}

		.uk-breadcrumb > li {
			@include fs(14px, 22px);
		}

		.bmt-news-swiper__date {
			margin-bottom: 50px;
		}

		.ya-share2__list_direction_horizontal > .ya-share2__item {
			margin-right: 19px;
		}

		h3 {
			max-width: 520px;
			margin-top: 30px;
			color: $color-white;
			@include fs(48px, 58px);

			@media (max-width: $breakpoint-small-max) {
				@include fs(30px, 40px);
			}
			@media (max-width: $breakpoint-mini-max) {
				@include fs(20px, 30px);
			}

			a {
				color: $color-white;

				&:hover,
				&:focus,
				&:active {
					color: $color-white;
					text-decoration: underline;
				}
			}
		}
	}

	&__content {
		padding: 40px 60px;

		@media (max-width: $breakpoint-medium-max) {
			padding: 30px 20px;
		}
	}

	&-swiper {
		&__container {
			max-height: 395px;

			@media (max-width: $breakpoint-small-max) {
				max-height: 300px;
			}

			.swiper {
				&-slide {
					height: 100%;
					padding: 30px;
					background-repeat: no-repeat;
					background-position: center top;
					background-size: cover;

					h2 {
						max-width: 300px;
						color: $color-white;
					}
				}
			}
		}
	}

	&__signature {
		margin-top: 20px;
		color: #7d7d7d;

		a {
			position: relative;
			margin-left: 5px;
			@include fw(700);
			font-style: italic;
			color: #000;
			@extend .tt-upper;

			&:after {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 2px;
				@include bc($color-green);
				@include transition(all .25s);
			}

			&:hover,
			&:focus,
			&:active {
				&:after {
					opacity: 0;
				}
			}
		}
	}

	&__author {
		margin-top: 45px;

		&-avatar {
			margin-right: 10px;
			@include size(50px, 50px);
			border-radius: 50%;
			@include brd($border-color);
			text-align: center;
			line-height: 50px;
		}
		&-name {
			margin: 0;
			@include fs(16px, 30px);
			@include fw(700);
			font-style: italic;
		}

		.d-ib {
			vertical-align: middle;
		}

		@media (max-width: $breakpoint-small-max) {
			> * {
				width: 100%;
				text-align: left!important;

				& + * {
					margin-top: 20px;
				}
			}
		}
	}

	&__comments {
		* + & {
			margin-top: 50px;
		}

		&-list {
			padding: 25px 50px 50px 30px;
			@include brd($border-color);

			@media (max-width: $breakpoint-small-max) {
				padding: 25px;
			}
			@media (max-width: $breakpoint-mini-max) {
				padding: 25px 20px;
				margin-left: -21px;
				margin-right: -21px;
			}

			& + & {
				margin-top: 25px;
			}
		}

		&-feedback {
			margin-top: 25px;
			padding: 30px 50px 25px 30px;
			@include brd($border-color);

			.uk-form {
				margin-top: 7px;
				padding-left: 16px;
			}
			.uk-button {
				width: 190px;
				margin-top: 15px;
			}

			@media (max-width: $breakpoint-small-max) {
				padding: 25px;
			}
			@media (max-width: $breakpoint-mini-max) {
				padding: 0 20px;
				margin-left: -21px;
				margin-right: -21px;
				border: none;
			}
		}
	}
}


.bmt-comment {
	@include fs(14px, 22px);

	.uk-flex {
		-webkit-flex-wrap: nowrap!important;
		-ms-flex-wrap: nowrap!important;
		flex-wrap: nowrap!important;
	}

	&__avatar {
		vertical-align: top;
		@include size(46px, 46px);
		min-width: 46px;

		> img {
			border-radius: 50%;
		}

		&--online {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 1px;
				right: -3px;
				@include size(13px, 13px);
				background-color: $color-green;
				border-radius: 50%;
				border: 2px solid $color-white;
			}
		}

		& + .d-ib {
			flex-grow: 1;
			vertical-align: top;
		}
	}

	&__header {
		box-shadow: none;
		flex-grow: 1;
		vertical-align: top;
		padding-left: 16px;
	}
	&__name {
		@include fs(16px, 30px);
	}
	&__date {
		margin-bottom: 20px;
		color: $color-gray;
	}
	&__body {
		position: relative;
		padding: 0 100px 0 63px;

		@media (max-width: $breakpoint-small-max) {
			padding-right: 70px;
		}
		@media (max-width: $breakpoint-mini-max) {
			padding: 0;
		}
	}
	&__reply {
		position: absolute;
		right: 0;
		top: 0;
		@include size(46px, 46px);
		@include bc(#e5e2e2);
		@include bi-img('../svg/icon-reply.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 23px auto;
		border-radius: 50%;
		@include transition(all .25s);

		&:hover,
		&:focus,
		&:active {
			@include bc($color-black);
		}

		& + p {
			margin-top: 0;
		}

		@media (max-width: $breakpoint-mini-max) {
			top: -69px;
			@include size(36px, 36px);
		}
	}
	&__footer {
		margin-top: 12px;
	}
	&__like {
		padding-left: 24px;
		@include fs(12px, 22px);
		@include bi-img('../svg/icon-like.svg');
		background-repeat: no-repeat;
		@include bp(center, left);
		background-size: 13px auto;

		&:hover,
		&:focus,
		&:active {
			color: $color-black;
			@include bi-img('../svg/icon-like-black.svg');
		}
	}

	& > & {
		position: relative;
		margin-top: 40px;
		padding-left: 35px;

		@media (max-width: $breakpoint-mini-max) {
			padding-left: 28px;

			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				@include size(18px, 16px);
				@include bi-img('../svg/icon-reply.svg');
				background-repeat: no-repeat;
				background-position: left bottom;
				background-size: 100% auto;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
	}
	& + & {
		margin-top: 50px;
	}
}

.bmt-item--advertising {
	position: relative;
	width: 100%;
	margin-top: 25px;
	@include brd(#828282);
	display: inline-block;

	> img {
		width: 100%;
	}
	
	&:hover,
	&:focus,
	&:active {
		border-color: $color-green;
	}
}


/* Крошки */

.uk-breadcrumb {
	> li {
		@extend .tt-upper;
		@include fw(600);
		font-style: italic;
		color: $color-white;

		a {
			color: $color-white;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}

		span {
			color: $color-white;
			opacity: .3;
			@extend .va-t;

			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
		}

		&:before {
			opacity: .3;
			font-size: 30px;
			line-height: 5px;
			@extend .va-t;
		}

		&:not(.uk-active) > span {color: $color-white;}
	}
}


/* Соц */

.bmt-social {
	> a {
		@extend .d-ib;

		&:not(:last-child) {
			margin-right: 20px;
		}
	}
}


/* other */

.uk-overlay-blur,
.uk-overlay-fade,
.uk-overlay-grayscale,
.uk-overlay-scale,
.uk-overlay-spin,
[class*="uk-overlay-slide"],
.uk-overlay-hover > .uk-overlay-background {
	transition-duration: .25s;
	transition-timing-function: ease-out;
	transition-property: opacity,transform,filter,background-color;
}

hr {
	margin: 40px 0;
	border-color: $border-color;
}

.uk-close {
	color: $color-gunmetal-two;
	opacity: 1;
	z-index: 1;

	&:hover,
	&:focus,
	&:active {
		color: $color-white;
		opacity: 1;
	}
}

.more {
	margin-left: 10px;
	@include fs(30px, 10px);
	color: #495864;
	display: inline;
	vertical-align: top;
}




.bmt-switch {
	@extend .pos-rlt;
	width: 100%;
	@extend .d-b;

	input[type=checkbox] {
		@extend .d-n;

		&:checked ~ .bmt-switch-slider {
			@include bc($color-green);
		}

		&:checked ~ .bmt-switch-slider:before {
			-webkit-transform: translateX(21px);
			-ms-transform: translateX(21px);
			transform: translateX(21px);
		}
	}

	&-slider {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -10px;
		@include size(43px, 20px);
		cursor: pointer;
		border-radius: 10px;
		@include bc(#d9d9d9);
		@include transition(.4s);

		&:before {
			position: absolute; content: '';
			@include size(16px, 16px);
			left: 3px;
			top: 2px;
			bottom: 2px;
			border-radius: 10px;
			@include bc($color-white);
			@include transition(.4s);
		}
	}

	label {
		@extend .d-ib;
	}
}

.bmt-blockquote {
	padding: 70px 20px;
	@include fs(20px, 30px);
	@include fw(700);
	font-style: italic;
	text-transform: uppercase;
	background-color: $color-white;
	border: none;
	text-align: center;

	> * {
		max-width: 470px;
		display: inline-block;
	}
	&:before {
		content: '\201c';
	}
	&:after{
		content: '\201d';
	}
	&:after,
	&:before {
		width: 130px;
		@include fs(72px, 70px);
		@include fw(700);
		font-style: italic;
		text-transform: uppercase;
		color: $color-green;
		display: inline-block;
		vertical-align: top;
	}

	* + & {
		margin-top: 55px;
	}
	& + & {
		margin-top: 20px;
	}

	&--black {
		background-color: $color-black;
		color: $color-white;
	}

	@media (max-width: $breakpoint-large-max) {
		padding: 50px 20px 10px;

		&:after,
		&:before {
			width: 100%;
			line-height: 30px;
		}
		> * {
			margin-bottom: 45px;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		@include fs(16px, 24px);
	}
}


.bmt-calculator {
	@include fs(16px, 22px);
	@include brd($border-color);

	@media (max-width: $breakpoint-mini-max) {
		margin-left: -20px;
		margin-right: -20px;
	}

	&__group {
		padding: 20px 50px 35px;
		@media (max-width: $breakpoint-large-max) {
			padding: 20px 25px 35px;
		}
		@media (max-width: $breakpoint-small-max) {
			padding: 20px;
		}
	}

	input[type="text"] {
		height: 40px;
	}
	input[type="text"] {
		width: 80px;
		text-align: center;
	}

	.uk-form-controls span {
		margin: 0 9px;
		@extend .d-ib;
		@include fw(700);
		@extend .tt-upper;
	}

	@media (min-width: $breakpoint-large){
		.uk-form-horizontal .uk-form-label {
			width: 150px;
		}
	}
}


.hidden {
	visibility: hidden;
	display: none;
	opacity: 0;
}


.bmt-loader {
	margin-top: 17px;
	text-align: center;

	&__spinner {
		.spin-1 { animation: spin-1 1s linear infinite; }
		.spin-2 { animation: spin-2 1s linear infinite; }
		.spin-3 { animation: spin-3 1s linear infinite; }
		.spin-4 { animation: spin-4 1s linear infinite; }
		.spin-5 { animation: spin-5 1s linear infinite; }
	}
}
@keyframes spin-1 {
    0% { fill: #11b411; }
    25% { fill: #000; }
    50% { fill: #11b411; }
    75% { fill: #11b411; }
    100% { fill: #11b411; }
}
@keyframes spin-2 {
    0% { fill: #11b411; }
    25% { fill: #11b411; }
    50% { fill: #000; }
    75% { fill: #11b411; }
    100% { fill: #11b411; }
}
@keyframes spin-3 {
    0% { fill: #11b411; }
    25% { fill: #11b411; }
    50% { fill: #11b411; }
    75% { fill: #000; }
    100% { fill: #11b411; }
}
@keyframes spin-4 {
    0% { fill: #11b411; }
    25% { fill: #11b411; }
    50% { fill: #11b411; }
    75% { fill: #11b411; }
    100% { fill: #000; }
}
@keyframes spin-5 {
    0% { fill: #000; }
    25% { fill: #11b411; }
    50% { fill: #11b411; }
    75% { fill: #11b411; }
    100% { fill: #11b411; }
}