
.bmt-navbar {
	padding: 3px 0;
	@media (max-width: $breakpoint-large-max) {
		padding: 0;
	}
}

.uk-navbar-nav {
	float: none;
	display: inline-block;
	vertical-align: middle;

	> li {
		> a {
			@extend .tt-upper;
			font-style: italic;

			@media (max-width: $breakpoint-large-max) {
				padding: 0 15px;
			}
			@media (max-width: $breakpoint-medium-max) {
			}
		}

		a[href='#'] {
			cursor: pointer!important;
		}

		.uk-button-dropdown {
			> a {
				position: relative;
				@extend .d-ib;
				padding: 0 30px;
				color: $color-black;
				@include fs(15px, 50px);
				@include transition(color .25s);

				span {
					color: $color-gray-light;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 10px;
					width: 6px;
					height: 8px;
					margin-top: -3px;
					@include bi-img('../svg/arrow.svg');
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: center;

					@include transform(90deg);
					@include transition(all .25s);
				}

				&:focus,
				&:hover,
				&:active {
					color: $color-black;
					padding: 0 29px 0 28px;
					box-shadow: 0px 0px 9px 0px rgba(14, 15, 15, 0.1);
					@include fw(700);

					span {
						color: $color-black;

						&.bmt-city {
							color: $color-green;
						}
					}
				}
			}
			&.uk-open {
				> a {
					&:after {
						@include transform(0deg);
					}
				}
			}
			.uk-nav > li > a {
				@include fw(400);
				font-style: normal;

				&:focus,
				&:hover,
				&:active {
					color: $color-black;
					opacity: 1;
					@include fw(700);

					span {
						color: $color-black;

						&.bmt-city {
							color: $color-green;
						}
					}
				}
			}
		}
	}
}

.uk-nav {
	> li {
		@extend .d-ib;

		> a {
			height: 30px;
			padding: 0 20px;
			@include fs(12px, 30px);
			@include fw(700);
			@extend .d-ib;
			color: $color-black;
			@extend .tt-upper;
			font-style: italic;

			&:hover,
			&:focus,
			&:active {
				color: $color-green;
			}
		}

		&.uk-active {
			> a {
				color: #c7c5c6;
			}
		}

		.uk-button-dropdown {
			> a {
				position: relative;
				@extend .d-ib;
				padding: 0 20px;
				color: $color-black;
				@include fs(15px, 30px);

				span {
					color: $color-gray-light;
				}

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					right: 0;
					width: 6px;
					height: 8px;
					margin-top: -3px;
					@include bi-img('../svg/arrow.svg');
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: center;

					@include transform(90deg);
					@include transition(all .25s);
				}
			}
			&.uk-open {
				> a {
					&:after {
						@include transform(0deg);
					}
				}
			}
			.uk-dropdown {
				left: 15px!important;
			}
		}
	}
}


/* offcanvas */


.bmt-offbutton {
	display: inline-block;
	vertical-align: middle;
	padding: 25px 20px;
	@include brd-l($border-color);
}

.uk-navbar-toggle {
	padding: 0;
	float: none;
	@extend .d-ib;
	@include size(47px, 40px);
	@include bi-img('../svg/icon-offbutton.svg');

	&:focus,
	&:hover,
	&:active {
		@include bi-img('../svg/icon-offbutton-green.svg');
	}
	&:after {
		content: '';
	}
}

.uk-offcanvas {
	z-index: 1005;
	background: rgba(0, 0, 0, 0.5);

	&-bar {
		width: 100%;
		max-width: 300px;
		background-color: $color-white;
	}

	.uk-panel {
		margin: 0;
		color: $color-black;
	}
}

.bmt-offcanvas {
	&-gmt {
		width: 207px;
		padding: 17px 15px 17px 30px;
		display: inline-block;
		vertical-align: middle;

		@include fs(16px, 30px);
		@include fw(700);
		font-style: italic;

		span {
			display: block;
			@include fs(15px, 25px);
			color: #c7c6c6;
			@include fw(400);
			font-style: normal;
		}
	}
	&-close {
		display: inline-block;
		vertical-align: middle;
		padding: 25px 20px;
		@include brd-l($border-color);

		.uk-close {
			@include size(47px, 40px);
			background-color: $color-green;
			@include bi-img('../svg/icon-close.svg');
			background-repeat: no-repeat;
			background-size: 20px auto;
			background-position: center;
			&:after {display: none;}
		}
	}
	&-nav {
		padding: 35px 30px 70px;
		@include brd-t($border-color);
	}
	.uk-nav {

		> li {
			width: 100%;
			display: block;

			> a {
				padding: 0;
				color: $color-black;
				@include fs(20px, 40px);
				height: 40px;
				@include fw(900);
				font-style: italic;

				&:hover,
				&:focus,
				&:active {
					color: $color-green;
				}
			}

			&.uk-open,
			&.uk-active {
				> a {
					color: $color-green;
				}
			}
		}

		.uk-nav-sub {
			padding-left: 20px;

			> li {
				> a {
					@include fs(16px, 40px);
					height: 40px;
					color: $color-black;

					&:hover,
					&:focus,
					&:active {
						color: $color-green;
					}
				}
				&.uk-active {
					> a {
						color: $color-green;
					}
				}
			}
		}
	}

	.bmt-footer__soc {
		padding: 0 30px 20px;
	}
}


body.uk-offcanvas-page {
	margin-left: 0!important;
}


.bmt-nav-swiper {
	position: relative;
	max-width: 100%;

	.swiper-button {
		top: 0;
		@include size(90px, 100%);
		margin-top: 0;
		background: none;

		&:after,
		&:before {
			position: absolute; content: '';
		}

		&:before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 0;
		}
		&:after {
			@include size(7px, 12px);
			top: 50%;
			margin-top: -6px;
			z-index: 1;
		}

		&.bmt-nav-swiper-prev {
			left: -10px;
			&:before {
				background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
				background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
			}
			&:after {
				left: 20px;
				@include bi-img('../svg/arrow-prev-small.svg');
			}
		}
		&.bmt-nav-swiper-next {
			right: -10px;
			&:before {
				background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
			}
			&:after {
				right: 20px;
				@include bi-img('../svg/arrow-next-small.svg');
			}
		}
		&.swiper-button-disabled {
			opacity: 0;
			visibility: hidden;
		}
	}
	.swiper-slide {
		width: auto;
		display: inline-block;

		> a {
			height: 34px;
			padding: 0 20px;
			@include fs(14px, 34px);
			@extend .d-ib;
			color: #a4a4a4;

			&:hover,
			&:focus,
			&:active {
				color: $color-green;
			}
		}

		&.active {
			> a {
				color: $color-black;
				@include fw(600);
			}
		}

		&:last-child {
			> a {
				padding-right: 0;
			}
		}
	}
}