header {
	position: relative;
	z-index: 2;
	max-width: 100%;
	box-shadow: 0px 2px 5px 0px rgba(14, 15, 15, 0.06);

	@media (max-width: $breakpoint-small-max) {
		overflow: visible;
	}
}

.bmt-header {
	position: relative;
	max-width: 1234px;
	margin: 0 auto;
	@include bc($color-white);
}


.bmt-logo {
	position: relative;
	z-index: 1;
	padding: 40px 30px 40px 0;
	@include brd-r($border-color);
	background-color: $color-white;

	a {
		display: inline-block;
		&:hover {
			opacity: .7;
		}
	}

	@media (max-width: 1234px) {
		> img {
			max-width: 174px;
		}
	}
	@media (max-width: $breakpoint-large-max) {
		width: 100%;
		padding: 20px;
		border: none;

		& + .uk-float-right {
			width: 100%;
			text-align: center!important;
		}
	}
	@media (max-width: $breakpoint-medium-max) {
		width: auto;
		padding: 17px 20px;

		& + .uk-float-right {
			width: auto;
			text-align: right!important;
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		padding: 20px 0px 20px 10px;
		> a {
			max-width: 130px;
		}
	}
}
.bmt-top {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: -200px;
		top: 0;
		width: 2000px;
		height: 1px;
		background-color: $border-color;
	}

	&__user,
	&__title,
	&-swiper {
		display: inline-block;
		vertical-align: middle;
	}
	&__title {
		display: inline-block;
		vertical-align: middle;
		> * {vertical-align: middle;}
		> span {
			max-width: 120px;
			margin-left: 8px;
			@include fs(14px, 22px);
			@include fw(700);
			font-style: italic;
			@extend .tt-upper;
			display: inline-block;
		}
	}
	&-swiper {
		@extend .pos-rlt;
		width: 500px;
		margin-left: 20px;
		padding: 0 20px;

		@media (max-width: $breakpoint-large-max) {
			margin-left: 10px;
		}
	}
	.swiper {
		&-button {
			&-prev,
			&-next {
				top: 0;
				@include size(9px, 100%);
				margin-top: 0;
				@extend .bs-con;
				background-repeat: no-repeat;
				background-position: center;
			}
			&-prev {
				left: 0;
				@include bi-img('../svg/arrow-prev.svg');
			}
			&-next {
				right: 0;
				@include bi-img('../svg/arrow-next.svg');
			}
		}
	}
	&__logo {
		width: 70px;
		line-height: 79px;
	}
	&__item {
		position: relative;
		padding: 0 5px;
		p {
			margin: 0;
			@include fs(14px, 22px);
		}

		& + .bmt-top__item {
			margin-left: 25px;
			&:before {
				content: ":";
				position: absolute;
				left: -17px;
				top: 0;
				line-height: 50px;
				font-size: 40px;
				color: $color-gray-light;
			}
		}
	}
	&__number,
	&__rectangle {
		@extend .d-ib;
		vertical-align: middle;
		@include fs(14px, 22px);
		@include fw(700);
		font-style: italic;
	}
	&__number {
		@extend .tt-upper;
	}
	&__rectangle {
		position: relative;
		height: 16px;
		line-height: 16px;
		padding: 0 6px 0 9px;
		margin-left: 3px;
		color: $color-white;
		@include bc($color-green);

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 100%;
			border-top: 16px solid $color-green;
			border-right: 6px solid transparent;
		}
	}

	@media (max-width: $breakpoint-large-max) {
		padding: 0 7px;
	}
	@media (max-width: $breakpoint-medium-max) {
		display: inline-block;
		vertical-align: middle;
		padding: 0 12px;

		&:after,
		&-swiper,
		&__title {
			display: none;
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		padding-left: 0;
		padding-right: 5px;
	}

	&__user {
		margin-left: 50px;
		@include fs(16px, 30px);

		@media (max-width: $breakpoint-large-max) {
			margin-left: 30px;
		}
		@media (max-width: $breakpoint-small-max) {
			span {
				display: none;
			}
		}
		@media (max-width: $breakpoint-mini-max) {
			margin-left: 15px;
		}

		&-avatar {
			position: relative;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;

			> img {
				max-width: 46px;
				border-radius: 50%;
			}
		}

		&--online {
			.bmt-top__user-avatar {
				&:after {
					content: '';
					position: absolute;
					top: -1px;
					right: -5px;
					width: 13px;
					height: 13px;
					border: 2px solid $color-white;
					background-color: $color-green;
					border-radius: 50%;
				}
			}
		}
	}
}