
.bmt-footer {
	padding: 30px 0 0;
	color: $color-white;
	@include bc($color-black);

	a {
		color: $color-white;
		&:hover,
		&:focus,
		&:active {
			color: $color-green;
		}
	}

	.uk-nav {
		margin-bottom: 20px;

		> li {
			> a {
				padding: 0;
				@include fs(14px, 26px);
				@include fw(900);
				font-style: italic;
				text-transform: uppercase;
				color: $color-white;

				&:hover,
				&:focus,
				&:active {
					color: $color-green;
				}
			}
		}
		&-sub {
			padding: 5px 0 0;

			> li {
				> a {
					padding: 0;
					@include fs(14px, 26px);
					color: $color-white;

					&:hover,
					&:focus,
					&:active {
						color: $color-white;
						text-decoration: underline;
					}
				}
			}
		}

		& + a {
			@include fw(700);
			font-style: italic;
		}
	}

	.uk-width-large-1-8 {
		@media (min-width: $breakpoint-large) {
			width: 13%;
		}
	}

	&__soc {
		> a {
			@include size(40px, 40px);
			display: inline-block;
			vertical-align: middle;
			border-radius: 50%;
			text-align: center;
			line-height: 40px;

			& + a {
				margin-left: 10px;
			}
		}

		&-vk {
			background-color: #436eab;
		}
		&-tw {
			background-color: #38b9fd;
		}
	}

	&__age {
		display: inline-block;
		margin-top: 30px;
		width: 90px;
		height: 45px;
		text-align: center;
		@include fs(24px, 45px);
		@include fw(900);
		font-style: italic;
		color: $color-green;
		@include brd(#181818);
	}

	&__bottom {
		margin-top: 30px;
		padding: 40px 0;
		@include fs(14px, 20px);
		color: #262626;
		@include bc(#0b0b0b);
	}

	&__app {
		a {
			max-width: 135px;
			display: inline-block;
			& + a {
				margin-left: 10px;
			}

			&:hover,
			&:focus,
			&:active {
				box-shadow: 0px 0px 5px 0px rgba(17, 180, 17, 0.75);
			}
		}
	}

	@media (max-width: $breakpoint-large-max) {
		&__app {
			a {
				max-width: 70%;
				& + a {
					margin: 20px 0 0;
				}
			}
		}
	}
	@media (max-width: $breakpoint-medium-max) {
		&__soc {
			display: inline-block;
			vertical-align: middle;
		}
		&__age {
			margin: 0 0 0 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		&__app {
			a {
				max-width: 135px;

				& + a {
					margin: 0 0 0 10px;
				}
			}
		}
	}
}


.bmt-subscription {
	padding: 22px 0 24px;
	@include bc(#272a46);
	color: $color-white;
	@include fs(16px, 24px);
	@include fw(700);
	letter-spacing: 0.12em;
	@extend .tt-upper;

	> .uk-container > * {
		@extend .d-ib; @extend .va-m;
	}

	svg {
		margin-right: 16px;
	}

	.bmt-triangle-right:before {
		border-width: 17px;
		right: -26px;
		top: 4px;
	}

	.uk-form {
		margin-left: 60px;

		> * {
			@extend .d-ib; @extend .va-m;
		}

		input {
			height: 54px;
			width: 270px;
			@include bc($color-white);

			&:hover,
			&:focus,
			&:active {
				@include bc($color-white);
			}
		}
		.uk-button {
			margin-left: 30px;
			width: 220px;
			padding: 0;
			color: #232324;
		}
	}

	@media (max-width: $breakpoint-large-max) {
		.uk-form {
			width: 100%;
			margin: 20px 0 0;
		}
	}
	@media (max-width: 545px) {
		.uk-form {
			input,
			.uk-button {
				width: 100%;
			}
			.uk-button {
				margin: 10px 0 0;
			}
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		svg {
			margin-right: 10px;
		}
		.bmt-triangle-right {
			max-width: 77%;
			&:before {
				display: none;
			}
		}
	}
}