@import 'https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic';

$fontFiraSans:                                  'Fira Sans', sans-serif;
$font-icon:                                     'FontAwesome';
$font-serif:                                    serif;


$icon-font-path:                                 "../uikit/fonts" !default;

@font-face {
    font-family: 'FontAwesome';
    src: url("#{$icon-font-path}/fontawesome-webfont.woff2") format('woff2'),
         url("#{$icon-font-path}/fontawesome-webfont.woff") format("woff"),
         url("#{$icon-font-path}/fontawesome-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}