.pos-rlt {
	position: relative;
}


.br-no {
	background-repeat: no-repeat;
}
@mixin bp($h: center, $w: center) {
	background-position: $h $w;
}
@mixin bs($h: 100%, $w: 100%) {
	background-size: $h $w
}
.bs-cov {
	background-size: cover;
}
.bs-con {
	background-size: contain;
}
@mixin bc($color) {
	background-color: $color;
}
@mixin bi-img($src) {
	background-image: url($src);
}

@mixin fs($fs, $lh: $base-body-line-height) {
	font-size: $fs;
	line-height: $lh;
}
@mixin fw($n) {
	font-weight: $n;
}

@mixin size($w: auto, $h: auto) {
	width: $w;
	height: $h;
}


/* Based class
=============================================================================*/

.bb {
	box-sizing: border-box;
}


.d-b {
	display: block;
}
.d-ib {
	display: inline-block;
}
.d-n {
	display: none;
}


.va-t {
	vertical-align: top;
}
.va-m {
	vertical-align: middle;
}
.va-b {
	vertical-align: bottom;
}


.fs-z {
	font-size: 0 !important;
	line-height: 0 !important;
}


.tt-upper {
	text-transform: uppercase;
}
.tt-lower {
	text-transform: lowercase;
}
.tt-n {
	text-transform: none;
}
.td-uline {
	text-decoration: underline;
}
.td-n {
	text-decoration: none;
}


@mixin brd($color) {
	border: 1px solid $color;
}
@mixin brd-t($color) {
	border-top: 1px solid $color;
}
@mixin brd-b($color) {
	border-bottom: 1px solid $color;
}
@mixin brd-l($color) {
	border-left: 1px solid $color;
}
@mixin brd-r($color) {
	border-right: 1px solid $color;
}


@mixin transition($params) {
	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	transition: $params;
}
@mixin transform($params) {
	-webkit-transform: rotate($params);
	-moz-transform: rotate($params);
	-ms-transform: rotate($params);
	-o-transform: rotate($params);
	transform: rotate($params);
}


.ov-h {
	overflow: hidden;
}


.uk-margin-medium { margin-bottom: $utility-margin-medium; }
* + .uk-margin-medium { margin-top: $utility-margin-medium; }

.uk-margin-medium-top { margin-top: $utility-margin-medium !important; }
.uk-margin-medium-bottom { margin-bottom: $utility-margin-medium !important; }
.uk-margin-medium-left { margin-left: $utility-margin-medium !important; }
.uk-margin-medium-right { margin-right: $utility-margin-medium !important; }

@media (max-width: $breakpoint-mini-max) {
	
	.uk-hidden-mini { display: none !important; }
	.uk-visible-mini { display: block !important; }
}