@import "_fonts";

$color-white:                                   #fff;
$color-light:                                   #d3d3d3;
$color-dark:                                    #111;
$color-black:                                   #000;

$color-gray:                                    #b5b5b5;
$color-gray-light:                              #c7c6c6;

$color-red:                                     #e21a25;
$color-blue:                                    #38b9fd;
$color-green:                                   #11b411;
$color-yellow:                                  #ffd012;
$color-orange:                                  #ff8402;
$color-dark-purple:                             #0c172b;

$color-purple-nav:                              #272a46;
$color-purple-base:                             #1c1d2e;
$color-purple-navbar:                           #161827;
$color-purple-rating:                           #151725;
$color-purple-rating-item:                      #25263b;
$color-purple-border:                           #474959;

$color-purple-light:                            #e9ebf8;

/**/
$color-gunmetal:                                #4a5964;
$color-gunmetal-two:                            #555d63;
$color-charcoal-grey:                           #2f373d;
$color-butterscotch:                            #ffc447;
$color-pastel-red:                              #ec5252;
$color-amethyst:                                #8360c4;
$color-squash:                                  #f6a623;
$color-dark-mint:                               #50bc6e;
/**/

$color-success:                                 $color-dark-mint;
$color-danger:                                  #c94c4c;

$border-color:                                  #f1f1f1;

$utility-container-large-max-width:             1200px;
$utility-container-large-padding-horizontal:    10px;
$utility-container-max-width:                   980px;
$utility-container-padding-horizontal:          20px;

$utility-margin:                                20px;
$utility-margin-small:                          10px;
$utility-margin-medium:                         15px;
$utility-margin-large:                          35px;
$utility-border-rounded:                        3px;

$grid-gutter-horizontal:                        20px;
$grid-gutter-vertical:                          20px;
$grid-gutter-small-horizontal:                  10px;
$grid-gutter-small-vertical:                    10px;
$grid-gutter-large-horizontal:                  20px;
$grid-gutter-large-vertical:                    20px;
$grid-gutter-xlarge-horizontal:                 26px;
$grid-gutter-xlarge-vertical:                   26px;
$grid-divider-border:                           #e5e4e4;

$block-padding-vertical:                        0;
$block-padding-vertical-large:                  50px;

$base-body-background:                          $color-white;
$base-link-color:                               $color-black;
$base-link-hover-color:                         $color-green;
$base-body-font-family:                         $fontFiraSans;
$base-body-font-size:                           14px;
$base-body-line-height:                         22px;
$base-body-color:                               $color-black;
$base-margin-vertical:                          25px;
$base-selection-background:                     $color-light;
$base-selection-color:                          $color-black;
$base-heading-font-family:                      $fontFiraSans;
$base-heading-margin-top:                       40px;
$base-heading-color:                            $color-black;
$base-heading-text-transform:                   none;
$base-h1-font-size:                             30px;
$base-h1-line-height:                           40px;
$base-h2-font-size:                             24px;
$base-h2-line-height:                           34px;
$base-h3-font-size:                             20px;
$base-h3-line-height:                           22px;
$base-h4-font-size:                             14px;
$base-h4-line-height:                           20px;
$base-h5-font-size:                             15px;
$base-h5-line-height:                           20px;
$base-h6-font-size:                             13px;
$base-h6-line-height:                           18px;
$base-list-padding-left:                        30px;

$panel-title-margin-bottom:                     30px;
$panel-title-font-size:                         18px;
$panel-title-line-height:                       24px;
$panel-title-font-weight:                       700;
$panel-title-color:                             $color-dark;
$panel-title-text-transform:                    uppercase;

$navbar-nav-height:                             50px;
$navbar-nav-height-large:                       50px;
$navbar-background:                             transparent;
$navbar-nav-font-family:                        $fontFiraSans;
$navbar-nav-padding-horizontal:                 16px;
$navbar-nav-padding-horizontal-large:           16px;
$navbar-nav-color:                              $color-black;
$navbar-nav-font-size:                          14px;
$navbar-nav-font-size-large:                    14px;
$navbar-nav-line-height:                        50px;
$navbar-nav-font-weight:                        700;
$navbar-nav-hover-background:                   transparent;
$navbar-nav-hover-color:                        $color-green;
$navbar-nav-onclick-background:                 transparent;
$navbar-nav-onclick-color:                      $color-green;
$navbar-nav-active-background:                  transparent;
$navbar-nav-active-color:                       #c7c5c6;

$nav-padding-vertical:                          0px;
$nav-padding-horizontal:                        12px;

$breadcrumb-font-size:                          16px;
$breadcrumb-divider-margin:                     4px;

$button-height:                                 35px;
$button-mini-height:                            25px;
$button-small-height:                           30px;
$button-large-height:                           40px;
$button-line-height:                            $button-height;
$button-mini-line-height:                       $button-mini-height;
$button-small-line-height:                      $button-small-height;
$button-large-line-height:                      $button-large-height;
$button-font-size:                              12px;
$button-mini-font-size:                         10px;
$button-small-font-size:                        11px;
$button-large-font-size:                        14px;
$button-padding-horizontal:                     25px;
$button-mini-padding-horizontal:                15px;
$button-small-padding-horizontal:               20px;
$button-large-padding-horizontal:               30px;
$button-background:                             $color-black;
$button-color:                                  $color-white;
$button-hover-background:                       $color-green;
$button-hover-color:                            $button-color;
$button-active-background:                      $color-green;
$button-active-color:                           $button-color;
$button-border-rounded:                         0px;

$button-primary-background:                     $color-green;
$button-primary-color:                          $color-white;
$button-primary-hover-background:               $color-black;
$button-primary-hover-color:                    $button-primary-color;
$button-primary-active-background:              $color-black;
$button-primary-active-color:                   $button-primary-color;


$form-height:                                   57px;
$form-padding:                                  15 24px;
$form-border:                                   $border-color;
$form-border-width:                             1px;
$form-background:                               transparent;
$form-color:                                    $color-black;
$form-hover-border:                             $border-color;
$form-focus-border:                             transparent;
$form-focus-background:                         transparent;
$form-focus-color:                              $color-black;
$form-placeholder-color:                        $color-gray;
$form-gutter:                                   25px;


$tab-border-width:                              0px;
$tab-padding-horizontal:                        10px;
$tab-padding-vertical:                          0px;
$tab-margin-horizontal:                         0px;
$tab-margin-vertical:                           0px;
$tab-color:                                     #57646d;
$tab-hover-background:                          darken(#1a1f24, 10%);
$tab-hover-color:                               #57646d;
$tab-active-background:                         #31944d;
$tab-active-color:                              $color-white;

$table-margin-vertical:                         35px;
$table-padding-vertical:                        15px;
$table-padding-horizontal:                      20px;
$table-caption-font-size:                       14px;

$accordion-title-margin-bottom:                 0px;
$accordion-title-padding-vertical:              15px;
$accordion-title-padding-horizontal:            0px;
$accordion-title-font-size:                     13px;
$accordion-title-line-height:                   25;
$accordion-title-background:                    transparent;


$article-title-font-size:                       28px;
$article-title-line-height:                     39px;
$article-title-font-weight:                     700;
$article-title-text-transform:                  none;
$article-divider-margin:                        30px;
$article-divider-border:                        #232b30;


$comment-avatar-margin-right:                   20px;
$comment-title-margin-top:                      0px;
$comment-title-font-size:                       13px;
$comment-title-line-height:                     18px;
$comment-meta-margin-top:                       0px;
$comment-meta-color:                            $color-gunmetal;
$comment-meta-font-size:                        12px;
$comment-meta-line-height:                      18px;
$comment-list-margin-top:                       0px;

$dropdown-width:                                100%;
$dropdown-background:                           $color-white;
$dropdown-color:                                $color-black;


$breadcrumb-font-size:                          10px;
$breadcrumb-divider:                            ".";
$breadcrumb-divider-margin:                     10px;
$breadcrumb-disabled-color:                     $color-black;




$block-padding:                                40px;
$block-padding-small:                          20px;




$breakpoint-small:                              480px;
$breakpoint-medium:                             768px;
$breakpoint-large:                              960px;
$breakpoint-xlarge:                             1200px;

$breakpoint-mini-max:                           ($breakpoint-small - 1);
$breakpoint-small-max:                          ($breakpoint-medium - 1);
$breakpoint-medium-max:                         ($breakpoint-large - 1);
$breakpoint-large-max:                          ($breakpoint-xlarge - 1);