
.bmt-forecasts-page {
	.bmt-section:not(.bmt-forecasts-tv) {
		padding: 50px 0 25px;
		background-color: #f7f7f7;
	}
	.bmt-section.bmt-forecast-detail {
		padding-top: 0;
	}

	@media (max-width: $breakpoint-large-max) {
		.bmt-item--advertising {
			display: none;
		}
	}

	.bmt-section.bmt-news-similar {
		padding: 50px 0 55px;
		background-color: $color-white;
	}

	.bmt-article__header {
		margin-bottom: 40px;
		min-height: 437px;
		box-shadow: none;

		@media (max-width: $breakpoint-small-max) {
			min-height: 374px;
		}
	}

	.bmt-forecast-detail {
		position: relative;
		z-index: 1;

		&__logo {
			width: 103px;
			height: 105px;
			display: inline-block;

			> img {
				max-height: 100%;
			}

			@media (max-width: $breakpoint-medium-max) {
				width: 74px;
				height: 76px;
				order: -1;
				margin-bottom: 20px;
			}
		}
		&__label {
			padding: 0 30px;
			@include fs(48px, 58px);
			@include fw(700);
			font-style: italic;
			text-transform: uppercase;

			@media (max-width: $breakpoint-large-max) {
				@include fs(30px, 40px);
			}
			@media (max-width: $breakpoint-medium-max) {
				width: 100%;
				@include fs(18px, 28px);
			}
		}
		&__colon {
			flex-grow: 1;
			@include fs(48px, 58px);
			@include fw(700);
			text-transform: uppercase;
			text-align: center;
		}
		&__info {
			left: 60px;
			color: $color-black;
			@include fs(16px, 22px);
			background-color: $color-white;

			@media (max-width: $breakpoint-medium-max) {
				left: 20px;
			}
			@media (max-width: $breakpoint-small-max) {
				left: 0;
				width: 100%;
			}

			> div {
				&:last-child {
					padding: 24px 45px 19px 20px;
					@media (max-width: $breakpoint-mini-max) {
						padding: 24px 20px 19px 20px;
					}
				}

				> * {
					display: inline-block;
					vertical-align: middle;
				}
				> img {
					max-width: 35px;
					margin-right: 30px;

					@media (max-width: $breakpoint-mini-max) {
						margin-right: 15px;
					}
				}
				a {
					color: $color-black;
					text-decoration: underline;

					&:hover,
					&:focus,
					&:active {
						color: $color-black;
						text-decoration: none;
					}
				}
			}
		}
		&__date {
			padding: 22px 20px 22px 30px;
			@include brd_r(#f1f1f1);
			@media (max-width: $breakpoint-mini-max) {
				padding: 22px 20px 22px;
			}

			span {
				margin-right: 15px;
				@include fw(700);
			}
		}

		ul.uk-breadcrumb {
			margin-bottom: 60px;
		}

		@media (max-width: $breakpoint-large-max) and (min-width: $breakpoint-large) {
			.bmt-rating__guess {
				width: 33.333%;
				padding: 0 0 0 20px;
			}
		}
		@media (max-width: $breakpoint-medium-max) {
			.uk-flex.uk-flex-middle {
				> * {
					text-align: center;
					
					&.uk-flex.uk-flex-middle {
						-ms-flex-wrap: wrap;
						-webkit-flex-wrap: wrap;
						flex-wrap: wrap;
						justify-content: center;
					}
				}
			}
		}
	}
}