
.bmt-news-page {
	.bmt-news {
		padding: 20px 0;

		&-similar {
			padding: 50px 0 55px;
			background-color: #f7f7f7;
		}
	}

	.bmt-news-swiper {

		.uk-grid-collapse > .uk-grid-margin {
			margin-top: 20px!important;
			padding: 0 20px;
		}

		@media (min-width: $breakpoint-large) {
			.uk-grid-collapse .uk-height-1-1 > .uk-grid-margin {
				margin-top: 0!important;
			}
		}
	}

	.bmt-rating {
		@include brd-l($border-color);

		.uk-button {
			position: relative;
			width: 100%;
		}
	}
}