
.bmt-matches-page {

	.bmt-section {
		padding: 50px 0 25px;
		background-color: #f7f7f7;
	}

	aside {
		padding-top: 102px;

		@media (max-width: $breakpoint-large-max) {
			padding-top: 83px;
		}
		@media (max-width: $breakpoint-medium-max) {
			padding-top: 0;
		}
	}

	.bmt-forecasts {
		&__item {
			&-name {
				width: 50px;
				@include fs(25px, 30px);
				@include fw(700);
				color: #cccbcb;

				@media (max-width: $breakpoint-small-max) {
					span {
						display: none;
					}
				}
			}
			&-coefficient {
				width: 45px;
				padding-left: 0;
				margin-left: 40px;
				p {
					@include fw(700);
					font-style: italic;
					text-transform: uppercase;
				}
			}
		}
	}
}

.bmt-page__icon {
	position: absolute;
	top: 35px;
	right: 77px;

	@media (max-width: $breakpoint-large-max) {
		right: 20px;
	}
	@media (max-width: $breakpoint-medium-max) {
		display: none;
	}
}

.bmt-intro {
	max-width: 755px;
	font-weight: 300;
}

.bmt-forecasts__title {
	margin-bottom: 22px;
	@include fs(16px, 22px);

	@media (max-width: $breakpoint-small-max) {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
		background-color: $color-white;

		hr {
			display: none;
		}
	}

	.bmt-forecasts__list + & {
		margin-top: 25px;
	}

	hr {
		flex-grow: 1;
		border-color: #e6e6e6;
		margin-left: 10px;
		margin-right: 10px;
	}

	a {
		color: $color-black;
		text-decoration: underline;

		&:hover,
		&:focus,
		&:active {
			color: $color-black;
			text-decoration: none;
		}
	}

	&-flag {
		width: 120px;
		height: 72px;
		margin-right: 20px;
		margin-left: -60px;
		padding-left: 60px;
		line-height: 72px;
		background-color: $color-white;

		@media (max-width: $breakpoint-small-max) {
			width: 40px;
			margin-left: 0;
			padding-left: 0;

			& + div {
				flex-grow: 1;
			}
		}
		@media (max-width: $breakpoint-mini-max) {
			& + div {
				span {display: none;}
			}
		}

		> img {
			max-width: 35px;
		}
	}
	&-date {
		@include fs(24px, 58px);
		@include fw(700);
		font-style: italic;
		text-transform: uppercase;
		color: #cccbcb;

		@media (max-width: $breakpoint-small-max) {
			font-size: 14px;
		}
	}
}