
.bmt-text-page {
	&__content {
		padding: 40px 0 65px;
		background-color: #f7f7f7;

		aside {
			padding-top: 35px;
		}

		.bmt-rating__guess .bmt-rating__guess-next, 
		.bmt-rating__guess .bmt-rating__guess-prev {
			background-color: #d5d5d5;
		}
	}
}