
.bmt-bonus-page {
	.bmt-bonuses {
		margin: 0;
		padding: 50px 0 15px;
	}

	.bmt-bonus-detail {
		padding-bottom: 60px;
		background-color: #f7f7f7;

		&__content {
			padding: 50px 60px 0;

			@media (max-width: $breakpoint-large-max) {
				padding: 50px 20px 0;
			}
		}

		.bmt-container--large {
			margin-bottom: 60px;
		}

		h2 {
			font-size: 30px;
			margin-bottom: 35px;
		}

		.bmt-bonuses__item {
			min-height: 285px;
		}

		.bmt-bonus-detail__items .bmt-bonuses__item {
			min-height: 250px;
			margin-bottom: 20px;
			padding: 30px 50px;
			color: $color-black;

			@media (max-width: $breakpoint-small-max) {
				min-height: 320px;
				padding: 25px 25px 0;
			}

			.uk-position-bottom {
				width: 270px;
				right: 0;
				left: auto;
				z-index: 0;

				@media (max-width: $breakpoint-large-max) {
					width: 200px;
				}
				@media (max-width: $breakpoint-medium-max) {
					width: 270px;
				}

				// @media (max-width: $breakpoint-small-max) {
				// 	-ms-flex-wrap: wrap;
				// 	-webkit-flex-wrap: wrap;
				// 	flex-wrap: wrap;
				// }
			}
			.uk-flex.uk-flex-top {
				position: relative;
				margin-top: 35px;
				z-index: 1;

				@media (max-width: $breakpoint-small-max) {
					margin-top: 25px;
				}
			}

			&-date {
				text-transform: uppercase;
			}

			&-sale {
				margin: 0 30px 0 0;
				@include fs(120px, 120px);
				color: $color-black;

				@media (max-width: $breakpoint-small-max) {
					position: absolute;
					top: 100%;
					margin-top: 20px;
					@include fs(70px, 70px);
				}

				&--large {
					@include fs(170px, 120px);
				}

				&--green {
					color: $color-green;
				}

				&--white {
					color: $color-white;
				}
			}
			&-text {
				margin: 0;
				max-width: 210px;
				@include fs(16px, 22px);

				@media (max-width: $breakpoint-small-max) {
					max-width: 100%;
				}
			}

			&--black {
				color: $color-white;
			}
		}

		.bmt-rating {
			overflow: hidden;
			background-color: $color-white;
			&:before {
				display: none;
			}
		}
	}

	.bmt-news-similar {
		padding: 50px 0 55px;
	}
}