.bmt-bookmakers-page {
	.bmt-rating {
		padding-top: 55px;
	}
	.bmt-rating__item {
		@include brd_l($border-color);
	}
	.bmt-bookmakers__reviews {
		padding: 70px 40px 50px 60px;

		@media (max-width: $breakpoint-large-max) {
			padding: 70px 20px 50px 20px;
		}
		@media (max-width: $breakpoint-medium-max) {
			padding-top: 10px;
		}
		@media (max-width: $breakpoint-small-max) {
			padding: 10px 10px 50px 10px;
		}

		h2 {
			font-size: 30px;
		}
	}

	.bmt-bookmakers {
		&__list {
			padding: 50px 0 25px;

			&-filter {
				margin: 5px 0 30px;
				@include fw(500);

				&__item {
					& + .bmt-bookmakers__list-filter__item {
						margin-left: 50px;
					}

					&,
					> * {
						display: inline-block;
						vertical-align: middle;
					}
					> div {
						margin-left: 16px;
						max-width: 8px;
						line-height: 6px;

						a {
							display: inline-block;
							color: #cccbcb;

							&:hover,
							&:focus,
							&:active,
							&.active {
								color: $color-black;
							}
						}
						i {
							line-height: 6px;
						}
					}
				}

				@media (max-width: $breakpoint-medium-max) {
					margin: 0 0 20px;

					&__item {
						padding: 0 15px 0 30px;
						line-height: 40px;
						height: 40px;
						background-color: $color-white;
						border-radius: 2px;
						@include brd($border-color);

						& + .bmt-bookmakers__list-filter__item {
							margin-left: 20px;
						}
					}
				}
			}

			.bmt-rating {
				background-color: transparent;

				&__list {
					background-color: $color-white;

					@media (max-width: $breakpoint-medium-max) {
						display: block;
						opacity: 1;
					}
					@media (max-width: $breakpoint-small-max) {
						margin-left: -20px;
						margin-right: -20px;
					}
				}
				&__item {
					padding-right: 10px;

					&-label {
						width: 135px;
						padding-left: 15px;

						@media (max-width: $breakpoint-large-max) {
							display: none;
						}
					}
					&-price {
						width: 150px;
						text-transform: uppercase;

						@media (max-width: $breakpoint-large-max) {
							padding-left: 20px;
						}
					}
					&-overview {
						& + span {
							width: 170px;
							padding: 0 15px;
							text-align: right;
							text-transform: uppercase;
							font-size: 12px;
							font-style: italic;

							@media (max-width: $breakpoint-large-max) {
								width: 150px;
								padding: 0 10px;
							}
							@media (max-width: $breakpoint-small-max) {
								display: none;
							}
						}
						@media (max-width: $breakpoint-small-max) {
							.uk-button {
								border: none;
								padding: 0 10px;
							}
						}
					}
					&-rating {
						position: relative;
						top: auto;
						right: auto;

						& + span {
							width: 110px;
							padding: 0 15px;
							text-align: right;
							color: #c5c5c5;
							text-transform: uppercase;
							font-size: 12px;
							font-style: italic;
							@include transition(all 0.25s);

							@media (max-width: $breakpoint-large-max) {
								width: 90px;
								padding: 0 10px;
							}
							@media (max-width: $breakpoint-small-max) {
								display: none;
							}
						}
						@media (max-width: $breakpoint-small-max) {
							float: right;
							margin-right: 50px;
						}
					}
					&:before {
						content: '';
						display: none;
					}
					&:after {
						counter-increment: myOrderedListItemsCounter;
						content: counter(myOrderedListItemsCounter);
						display: inline-block;
						vertical-align: middle;
						color: #e8e8e8;
						font-size: 48px;
						line-height: 34px;
						font-weight: 900;
						@include transition(all 0.25s);

						@media (max-width: $breakpoint-medium-max) {
							width: auto;
						}
						@media (max-width: $breakpoint-small-max) {
							position: absolute;
							right: -3px;
						}
					}

					&:nth-child(n + 10) {
						.bmt-rating__item-rating {
							& + span {
								width: 90px;
							}
						}
					}

					&:hover,
					&:focus,
					&:active {
						.bmt-button-border {
							color: $color-white;
							border-color: $color-green;
							background-color: $color-green;
						}
						.bmt-rating__item {
							&-rating {
								& + span {
									color: $color-black;
								}
							}
						}
						&:after {
							color: $color-green;
						}
					}
				}
			}

			aside {
				padding: 57px 0 0 20px;
				@media (max-width: $breakpoint-medium-max) {
					padding: 0;
				}
			}
		}

		&__filter {
			background-color: $color-white;
			@include brd($border-color);

			&-title {
				padding: 30px 30px 26px;
				@include brd_b($border-color);

				@media (max-width: $breakpoint-medium-max) {
					padding: 0;
					width: 100%;
					height: 40px;
					background-color: $color-black;
					border: none;
					text-align: center;

					h4 {
						color: $color-white;
						@include fs(12px, 40px);
					}
				}
			}

			.uk-dropdown {
				position: static;
				margin: 0;
				padding: 0;
				display: block;

				@media (max-width: $breakpoint-medium-max) {
					max-width: 100%;
					display: none;
				}

				.uk-form-row {
					padding: 14px 30px;
					font-weight: 300;
					line-height: 20px;

					&:not(:last-child) {
						@include brd_b($border-color);
					}
					& + .uk-form-row {
						margin-top: 0;
					}
				}

				.uk-accordion {
					border: none;

					&:not(:last-child) {
						@include brd_b($border-color);
					}

					&-title {
						position: relative;
						margin: 0;
						padding: 14px 30px;
						text-align: left;
						font-size: 14px;
						font-weight: 500;
						border: none;

						@media (max-width: $breakpoint-small-max) {
							background-color: $color-white;
							color: $color-black;
						}

						&:after {
							content: "\f0d7";
							font-family: FontAwesome;
							line-height: 22px;
							position: absolute;
							top: 14px;
							right: 30px;
							color: #d9d9d9;
						}

						& + div {
							height: 0 !important;
						}
						&.uk-active {
							&:after {
								content: "\f0d8";
								color: $color-black;
							}
							& + div {
								height: auto !important;
							}
						}
					}
					&-content {
						padding: 5px 30px 22px;

						.uk-form-row {
							border: none;
							padding: 0;

							& + .uk-form-row {
								margin-top: 15px;
							}
						}
					}
				}
			}
			@media (max-width: $breakpoint-medium-max) {
				&.uk-open > .uk-dropdown {
					display: block;
				}
			}

			.rating {
				> i {
					color: #d9d9d9;
				}
				&-5 {
					> i:nth-child(-n+5) { color: $color-green; }
				}
				&-4 {
					> i:nth-child(-n+4) { color: $color-green; }
				}
				&-3 {
					> i:nth-child(-n+3) { color: $color-green; }
				}
				&-2 {
					> i:nth-child(-n+2) { color: $color-green; }
				}
				&-1 {
					> i:nth-child(-n+1) { color: $color-green; }
				}
			}

			.uk-button {
				height: 50px;
				@include fs(12px, 50px);
				border-radius: 0;
			}
		}

		&__detail {
			padding: 50px 0;

			.bmt-page__icon {
				top: -20px;
				right: 0;

				&-logo {
					position: absolute;
					top: 115px;
					left: 0;
					width: 100%;
					text-align: center;
					display: inline-block;

					> img {
						max-width: 90%;
					}
				}

				@media (max-width: $breakpoint-large-max) {
					max-width: 200px;

					&-logo {
						top: 35%;

						> img {
							max-width: 60%;
						}
					}
				}

				@media (max-width: $breakpoint-medium-max) {
					position: relative;
					max-width: 100%;
					margin-bottom: 10px;
					text-align: center;
					display: block;

					> img {
						max-width: 270px;
					}
				}
			}

			.bmt-rating__guess {
				@media (max-width: $breakpoint-large-max) and (min-width: $breakpoint-large) {
					width: 33.333%;
					margin-top: 0;
				}
				@media (max-width: $breakpoint-large-max) {
					padding-left: 20px;
				}
			}

			&__place {
				margin-top: 10px;
				margin-right: 20px;
				@include fs(12px, 70px);
				@include fw(500);
				text-transform: uppercase;
				color: $color-white;

				> * {
					&:first-child {
						padding: 0 15px;
						font-size: 48px;
						@include fw(900);
						background-color: $color-green;
					}
					&:last-child {
						padding: 0 30px 0 22px;
						font-style: italic;
						background-color: $color-black;
					}
				}

				@media (max-width: $breakpoint-small-max) {
					width: 50%;
					padding-right: 10px;
					line-height: 55px;
					margin-right: 0;

					> * {
						&:first-child {
							font-size: 24px;
							background-color: $color-black;
							color: $color-green;
						}
						&:last-child {
							flex-grow: 1;
							padding-left: 0;

							span {
								display: none;
							}
						}
					}
				}
				@media (max-width: $breakpoint-mini-max) {
					> * {
						&:first-child {
							padding: 0 10px;
						}
						&:last-child {
							padding-right: 10px;
						}
					}
				}
			}

			&__rating {
				margin-top: 10px;
				padding: 0 20px 0 30px;
				@include fs(12px, 70px);
				@include brd_r($border-color);
				background-color: $color-white;

				> * {
					float: left;

					&:first-child {
						margin-right: 10px;
						@include fw(700);
						font-style: italic;
					}
					&:last-child {
						margin-top: 18px;
						position: relative;
						top: auto;
						right: auto;
						bottom: auto;
						left: auto;
					}
				}

				@media (max-width: $breakpoint-small-max) {
					width: 50%;
					line-height: 55px;

					> * {
						&:last-child {
							margin-top: 11px;
						}
					}
				}
			}

			&__bonus {
				margin-top: 10px;
				margin-right: 20px;
				padding: 0 30px 0 25px;
				@include fs(14px, 70px);
				@include fw(700);
				font-style: italic;
				text-transform: uppercase;
				background-color: $color-white;

				@media (max-width: $breakpoint-small-max) {
					width: 50%;
					line-height: 55px;
					margin-right: 0;
				}
			}

			&__button {
				margin-top: 10px;
				margin-right: 20px;

				> .uk-button {
					width: 100%;
					padding: 0 35px;
					border-radius: 0;
					height: 70px;
					line-height: 70px;
				}

				@media (max-width: $breakpoint-small-max) {
					width: 50%;
					padding-left: 10px;
					line-height: 55px;
					margin-right: 0;

					> .uk-button {
						height: 55px;
						line-height: 55px;
					}

					& + .uk-flex {
						width: 100%;
					}
				}
			}

			.bmt-container--large {
				margin-top: 55px;
				margin-bottom: 40px;

				.uk-button {
					height: 60px;
					line-height: 60px;
					font-weight: 900;
					border-radius: 0;

					svg {
						margin-right: 20px;
					}

					&:hover,
					&:focus,
					&:active {
						svg path {
							fill: $color-white;
						}
					}
				}
			}

			&__advantages {
				padding: 50px 45px 65px 60px;
				background-color: $color-white;

				@media (max-width: $breakpoint-medium-max) {
					padding: 50px 20px;
				}
			}
			&__disadvantages {
				padding: 50px 60px 65px 60px;
				background-color: #eaeaea;
				@include brd_l(#e5e4e4);

				@media (max-width: $breakpoint-medium-max) {
					padding: 50px 20px;
				}
			}

			&__parameters {
				position: relative;
				@include brd($border-color);
				background-color: $color-white;

				@media (max-width: $breakpoint-mini-max) {
					margin-right: -20px;
					margin-left: -20px;
				}

				&-item {
					position: relative;
					padding: 23px 27px;

					@media (max-width: $breakpoint-mini-max) {
						padding: 20px;
					}

					&:not(:first-child) {
						@include brd-t($border-color);
					}

					svg {
						min-width: 27px;
						vertical-align: middle;
						path {
							fill: $color-green;
						}
					}
					> svg {
						margin-right: 22px;

						@media (max-width: $breakpoint-small-max) {
							margin-right: 16px;
						}
					}

					&__left {
						flex-grow: 1;
						padding-right: 15px;

						span {
							color: #a6a5a5;

							@media (max-width: $breakpoint-small-max) {
								display: none;
							}
						}
					}

					&__right {
						img {
							max-width: 33px;
						}
						img + span {
							margin-left: 10px;
						}
						span + img {
							margin-left: 25px;

							@media (max-width: $breakpoint-small-max) {
								margin-left: 15px;
							}
						}
						svg + span {
							margin-left: 10px;

							@media (max-width: $breakpoint-small-max) {
								display: none;
							}
						}
						span + svg {
							min-width: 18px;
							margin-left: 14px;

							@media (max-width: $breakpoint-small-max) {
								margin-left: 10px;
							}
						}
						svg + span + svg {
							min-width: 27px;
							margin-left: 25px;

							@media (max-width: $breakpoint-small-max) {
								margin-left: 15px;
							}
						}
						svg + svg {
							margin-left: 10px;
						}
					}
				}
			}
		}
	}
}
.bmt-backward {
	padding-left: 30px;
	text-align: left;

	> * {
		vertical-align: middle;
	}

	> svg {
		margin-right: 5px;
	}

	@media (max-width: $breakpoint-medium-max) {
		top: -155px;
	}
	@media (max-width: $breakpoint-mini-max) {
		top: -145px;
	}
}