
.bmt-rating {
	position: relative;
	padding: 0;
	@include bc($color-white);

	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 2000px;
	// 	height: 100%;
	// 	@include bc($color-white);
	// 	z-index: 0;
	// }

	&.open {
		.bmt-rating__bmt-drop:after {
			@include transform(0deg);
			margin-top: -4px;
		}
		.bmt-rating__list {
			display: block;
			opacity: 1;
		}
	}

	&__title {
		padding: 20px 70px 20px 27px;
		@include brd-b($border-color);

		h3 {
			margin: 0;

			@media (max-width: $breakpoint-large-max) {
				font-size: 12px;
			}
		}

		@media (max-width: $breakpoint-large-max) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	&__icon {
		margin-right: 10px;
		@include size(44px, 37px);
		@include fs(14px, 37px);
		@include fw(700);
		text-align: center;
		background-image: url(../img/bmt-rating__icon.png);
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: center;

		@media (max-width: $breakpoint-large-max) {
			margin-right: 0;
		}
	}
	&__bmt {
		@include fs(14px, 37px);
		color: $color-gray;

		&-drop {
			position: relative;
			padding-right: 18px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 6px;
				height: 8px;
				margin-top: -3px;
				@include bi-img('../svg/arrow.svg');
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center;

				@include transform(90deg);
				@include transition(all .25s);
			}
		}
	}

	&__list {
		counter-reset: myOrderedListItemsCounter;
	}
	&__item {
		position: relative;
		padding: 25px 60px 25px 27px;
		@include fs(14px, 34px);
		@include fw(600);
		@include brd-b($border-color);

		@media (max-width: $breakpoint-large-max) {
			padding-left: 15px;
		}

		&-logo {
			width: 63px;
		}
		&-label {
			width: 100px;
			padding-left: 15px;

			@media (max-width: $breakpoint-large-max) {
				width: 90px;
				padding-left: 10px;
			}
		}
		&-price {
			width: 100px;
			padding-left: 15px;
			@include fw(700);
			font-style: italic;

			@media (max-width: $breakpoint-large-max) {
				width: 85px;
				padding-left: 10px;
			}
		}
		&-overview {
			font-style: italic;
			color: $color-gray;
			@include transition(all .25s);
		}
		&-rating {
			position: absolute;
			top: 25px;
			right: 40px;
			@include size(32px, 32px);
			@include fs(14px, 32px);
			@include fw(700);
			text-align: center;
			font-style: italic;
			border: 2px solid #f8f8f8;
			border-radius: 50%;

			svg {
				position: absolute;
				top: -2px;
				right: -2px;
				bottom: -2px;
				left: -2px;
				max-width: 33px;
				width: 33px;
				height: 33px;

				path {
					stroke-width: 2px;
					fill-opacity: 0;
					stroke: $color-green;

					stroke-dasharray: 100.5, 100.5; 
					stroke-dashoffset: 0;
				}

				&.rating-5 {
					path {
						stroke-dasharray: 100.5, 100.5; 
						stroke-dashoffset: 0;
					}
				}
				&.rating-4 {
					path {
						stroke-dasharray: 100.5, 100.5; 
						stroke-dashoffset: 15;
					}
				}
				&.rating-3 {
					path {
						stroke-dasharray: 100.5, 100.5; 
						stroke-dashoffset: 40;
					}
				}
				&.rating-2 {
					path {
						stroke-dasharray: 100.5, 100.5; 
						stroke-dashoffset: 65;
					}
				}
				&.rating-1 {
					path {
						stroke-dasharray: 100.5, 100.5; 
						stroke-dashoffset: 80;
					}
				}

				&.rating--green {
					path {
						stroke: $color-green;
					}
				}
				&.rating--blue {
					path {
						stroke: $color-blue;
					}
				}
				&.rating--yellow {
					path {
						stroke: $color-yellow;
					}
				}
				&.rating--orange {
					path {
						stroke: $color-orange;
					}
				}
				&.rating--red {
					path {
						stroke: $color-red;
					}
				}
			}
		}

		&:before {
			counter-increment: myOrderedListItemsCounter;
			content: counter(myOrderedListItemsCounter);
			position: absolute;
			right: -5px;
			color: #e8e8e8;
			@include fs(48px, 34px);
			@include fw(900);
			@include transition(all .25s);
		}

		&:hover,
		&:focus,
		&:active {
			color: $color-black;
			z-index: 2;
			box-shadow: -5px 0px 9px 0px rgba(14, 15, 15, 0.1);

			&:before,
			.bmt-rating__item-overview {
				color: $color-green;
			}
			&:after {
				
			}
		}

		@media (max-width: $breakpoint-large-max) {
			padding-right: 0;
			&-rating {
				position: absolute;
				top: 25px;
				right: -40px;
				margin-right: 0;
			}

			&:before {
				right: -80px;
			}
		}
		@media (max-width: $breakpoint-medium-max) {
			&-rating {
				right: 65px;
			}

			&:before {
				right: 15px;
			}
			&:after {
				width: 100%;
			}
		}
	}
	&__item,
	&__title {
		position: relative;
		width: 100%;
		@extend .d-b;

		> * {
			@extend .d-ib;
			@extend .va-m;
		}
	}

	@media (max-width: $breakpoint-medium-max) {
		order: 0;
		padding: 20px 10px;

		&__title {
			padding: 20px;
			@include brd($border-color);

			&:after {
				display: none;
			}
		}
		&__icon {
			margin-right: 10px;
		}
		&__list {
			display: none;
			opacity: 0;
			@include transition(all .25s);
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		padding: 20px;

		&__title {
			padding: 15px 10px;
		}
		&__icon {
			margin-right: 5px;
		}
		&__item {
			padding-right:90px;
			&-rating {
				right: 50px;
			}
		}
	}
}
.bmt-home .bmt-rating:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 2000px;
	height: 100%;
	@include bc($color-white);
	z-index: 0;
}

.bmt-rating__guess {
	padding: 0 0 0 20px;

	> .uk-panel {
		position: relative;
		padding: 25px 15px;
		@include brd($border-color);
		background-color: $color-white;

		& + .uk-panel {
			margin-top: 15px;
		}
	}

	h3 {
		padding: 0 40px;
	}

	.uk-button {
		margin-top: 25px;
	}

	&__member {
		width: 80px;

		&-logo {
			@extend .d-ib;
			line-height: 45px;

			> img {
				max-height: 45px;
			}
		}

		&-rating {
			@include fs(14px, 22px);
			@include fw(700);
			font-style: italic;
			@extend .tt-upper;

			span {
				@extend .d-ib;
				vertical-align: middle;

				&:last-child {
					position: relative;
					height: 16px;
					line-height: 16px;
					padding: 0 6px 0 9px;
					margin-left: 3px;
					color: $color-white;
					@include bc($color-green);

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 100%;
						border-top: 16px solid $color-green;
						border-right: 6px solid transparent;
					}
				}
			}
		}

		&-score {
			width: 100%;
			height: 45px;
			@include fs(24px, 45px);
			@include fw(700);
			text-align: center;
  			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);

  			span {
  				position: relative;
  				margin-right: 30px;

  				&:after {
  					content: ":";
  					position: absolute;
  					right: -24px;
  					font-size: 40px;
  					color: $color-gray-light;
  				}
  			}

  			input {
  				width: 25px;
  				display: inline-block;
  				vertical-align: top;
  				height: 30px;
  				margin-top: 9px;
  				@include fs(24px, 22px);
				@include fw(700);
  				border: none;
  				border-bottom: 3px solid $border-color;

  				&:focus { outline: none; }
  			}
		}
	}
	&__name {
		margin: 0!important;
		font-weight: 600;
		color: #010826;

		span {
			text-transform: uppercase;
			font-weight: 700;
			font-style: italic;
		}
	}
	&__date {
		width: 130px;
	}
	&__date,
	&__member {
		p {
			margin: 15px 0 0;
		}
	}

	&-container {
		padding-bottom: 39px;
	}
	.bmt-rating__guess-next,
	.bmt-rating__guess-prev {
		top: auto;
		bottom: 0;
		margin-top: 0;
		height: 32px;
		width: 50%;
		background: transparent;
		background-color: #f1f1f1;
		opacity: 1;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 9px;
			opacity: .2;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-position: center;
		}

		&:hover,
		&:focus,
		&:active {
			&:after {
				opacity: 1;
			}
		}

		&.swiper-button-disabled {
			opacity: 1;
			&:after {
				opacity: .1;
			}
		}
	}
	.bmt-rating__guess-prev {
		left: 0;
		&:after {
			left: 20px;
			background-image: url(../svg/arrow-prev-small.svg);
		}
	}
	.bmt-rating__guess-next {
		right: 0;
		&:after {
			right: 20px;
			background-image: url(../svg/arrow-next-small.svg);
		}
	}

	@media (max-width: $breakpoint-large-max) {
		width: 100%;
		padding-left: 0;
		margin-top: 20px;

		> .uk-panel {
			.uk-flex.uk-flex-space-between {
				-webkit-justify-content: space-around;
				justify-content: space-around;
			}
		}
	}
	@media (max-width: $breakpoint-small-max) {
	}
}
.bmt-home .bmt-rating__guess {
	width: 30%;
}

.bmt-forecasts {
	position: relative;
	width: 70%;

	.bmt-nav-swiper {
		top: -54px;
	}

	&__item {
		color: $color-black;
		padding: 20px 30px 15px 30px;
		@include brd($border-color);
		background-color: $color-white;

		& + .bmt-forecasts__item {
			margin-top: 13px;
		}
		
		&:hover,
		&:focus,
		&:active {
			border-color: $color-green;
			color: $color-black;
		}

		&-time {
			width: 85px;
			p {
				margin: 0;
				color: $color-gray-light;
			}
		}

		&-logo {
			width: 55px;
			text-align: center;

			> img {
				max-width: 70%;
			}

			&:last-child {
				width: 80px;
				> img {
					max-width: 100%;
					text-align: right;
				}
			}
		}
		&-label {
			width: 115px;
		}
		&-name {
			width: 130px;
			@include fw(300);
			text-align: center;
		}
		&-coefficient {
			width: 120px;
			padding-left: 10px;

			p {
				margin: 0;
			}
			span {
				position: relative;
				height: 16px;
				line-height: 16px;
				padding: 0 6px 0 9px;
				color: $color-white;
				@include bc($color-green);

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 100%;
					border-top: 16px solid $color-green;
					border-right: 6px solid transparent;
				}
			}
		}
	}

	@media (max-width: $breakpoint-large-max) {
		width: 100%;
	}
	@media (max-width: $breakpoint-small-max) {
		&__item {
			&-label {
				display: none;
			}
			&-name {
				width: 50px;
				font-size: 0;
				position: relative;

				&:after {
					content: ":";
					line-height: 50px;
					font-size: 40px;
					color: #c7c6c6;
				}
			}
		}
		.bmt-nav-swiper {
			margin-bottom: 20px;
			position: relative!important;
			top: auto;
			right: auto;

			.swiper-slide {
				margin-right: 20px;

				> a {
					padding: 0 30px;
					border-radius: 2px;
					@include brd(#a4a4a4);
				}
				&.active > a {
					border-color: $color-black;
				}
				&:last-child > a {
					padding-right: 30px;
				}
			}
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		.bmt-forecasts__item-logo:last-child {
			display: none;
		}
		&__item {
			padding: 15px 10px;

			&-name {
				width: 20px;
			}
			&-coefficient {
				padding-left: 0;
			}
		}
	}
}

.bmt-news {
	padding: 35px 0 40px;

	.uk-grid-margin {
		margin-top: 20px;
	}

	&__item {
		position: relative;
		@extend .d-b;
		color: $color-black;
		@include brd($border-color);
		background-color: $color-white;

		&:after {
			position: absolute;
			content: '';
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
			z-index: 2;
			border: 2px solid $color-green;
			@include transition(all .25s);

			opacity: 0;
		}

		> img {
			width: 100%;
		}

		h3 {
			margin: 10px 0 0;
		}

		&-video {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60px;
				height: 60px;
				margin-top: -30px;
				margin-left: -30px;
				background-image: url('../svg/play.svg');
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center;
			}

			> img {
				width: 100%;
			}
		}

		&-content {
			padding: 20px 23px;
			@include fs(12px, 22px);
		}

		&-category {
			@extend .d-ib;
			@include fs(10px, 22px);
			@extend .tt-upper;
			@include fw(700);
			font-style: italic;
			color: $color-gray-light;
		}

		&-date {
			float: right;
			color: $color-gray-light;
		}

		&-img {
			//margin-top: -10px;
			text-align: center;
		}

		&-meta {
			margin-top: 15px;

			> * {
				@extend .d-ib;
				@extend .va-m;
			}

			&__like,
			&__share {
				padding-left: 25px;
				background-repeat: no-repeat;
				background-size: 13px auto;
				background-position: left center;
			}

			&__like {
				margin-right: 16px;
				@include bi-img('../svg/like.svg');
			}

			&__share {
				@include bi-img('../svg/share.svg');
			}
		}

		.uk-position-bottom-left {
			padding: 0 23px 20px 23px;
		}
		
		&:hover,
		&:focus,
		&:active {
			color: $color-black;
			&:after {
				opacity: 1;
			}
			.bmt-news__item-category {
				color: $color-black;
			}
			h3 {
				text-decoration: underline;
			}
			.bmt-news__item-meta {
				&__like {
					@include bi-img('../svg/like-green.svg');
				}
				&__share {
					@include bi-img('../svg/share-green.svg');
				}
			}
		}

		&--green {
			background-color: $color-green;
			border: none;
			h3 {
				color: $color-white;
				text-align: center;
			}
			.bmt-news__item {
				&-content {
				}
				&-meta {
					text-align: center;
					&__like {
						@include bi-img('../svg/like-white.svg');
					}
					&__share {
						@include bi-img('../svg/share-white.svg');
					}
				}

				&-date,
				&-category {
					color: $color-black;
				}
			}
			&:hover,
			&:focus,
			&:active {
				&-date,
				&-category {
					color: $color-white;
				}
				&-category {
					text-decoration: underline;
				}
				h3 {
					text-decoration: underline;
				}
				&:after {
					opacity: 0;
				}
				.bmt-news__item-meta {
					&__like {
						@include bi-img('../svg/like-black.svg');
					}
					&__share {
						@include bi-img('../svg/share-black.svg');
					}
				}
			}
		}

		&--image {
			color: $color-white;
			@extend .bs-cov;
			@extend .br-no;
			@include bp();
			border: none;

			h3 {
				max-width: 320px;
				@include fs(24px, 34px);
				color: $color-white;
			}
			.bmt-news__item {
				&-content {
					border: none;
				}
				&-meta {
					margin-top: 35px;
					&__like {
						@include bi-img('../svg/like-white.svg');
					}
					&__share {
						@include bi-img('../svg/share-white.svg');
					}
				}
			}
			&:hover,
			&:focus,
			&:active {
				color: $color-white;
				.bmt-news__item-meta {
					color: $color-white;
					&__like {
						@include bi-img('../svg/like-white.svg');
					}
					&__share {
						@include bi-img('../svg/share-white.svg');
					}
				}
			}
		}

		&--advertising {
			height: 100%;
			border-color: #828282;
			overflow: hidden;
			> img {
				min-height: 100%;
				max-width: none;
				max-height: 100%;
			}
			.bmt-news__item-category {
				@include fs(12px, 22px);
				@include fw(400);
				font-style: normal;
				color: $color-white;
			}
			&:hover,
			&:focus,
			&:active {
				&:after {
					opacity: 0;
				}
				.bmt-news__item-category {
					color: $color-green;
				}
			}
		}
	}

	@media (max-width: $breakpoint-medium-max) {
		&__item {
			min-height: 260px;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		&__item {
			min-height: 320px;
		}
	}
}

.bmt-news-swiper {
	max-width: 100%;
	overflow: hidden;

	&__container {
		max-height: 509px;

		.swiper {
			&-slide {
				display: block;
				height: 100%;
				padding: 90px 240px 30px 60px;
				color: $color-white;

				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				@include transition(all .25s);

				h3 {
					margin-top: 30px;
					color: $color-white;
					@include fs(48px, 58px);

					@media (max-width: $breakpoint-small-max) {
						@include fs(30px, 40px);
					}
					@media (max-width: $breakpoint-mini-max) {
						@include fs(20px, 30px);
					}

					a {
						color: $color-white;

						&:hover,
						&:focus,
						&:active {
							color: $color-white;
							text-decoration: underline;
						}
					}
				}

				@media (max-width: $breakpoint-large-max) {
					padding: 50px 70px 0 50px;
				}
				@media (max-width: $breakpoint-medium-max) {
					padding: 50px 60px 0 50px;
				}
				@media (max-width: $breakpoint-small-max) {
					padding: 30px 50px 0 30px;
				}
				@media (max-width: $breakpoint-mini-max) {
					padding: 20px 40px 0 30px;
				}
			}
		}
	}

	&__date {
		margin: 30px 0 35px;

		span {
			margin-left: 20px;
			opacity: .3;
		}
		@media (max-width: $breakpoint-mini-max) {
			margin: 15px 0 20px;
		}
	}

	.swiper-container-vertical>.swiper-pagination-bullets {
		right: 45px;
		@media (max-width: $breakpoint-medium-max) {
			right: 30px;
		}
		@media (max-width: $breakpoint-mini-max) {
			right: 15px;
		}
	}
	.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 9px 0;
	}
	.swiper-pagination-bullet {
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $color-white;

		&:hover,
		&:focus,
		&:active {
			background-color: $color-green;
			opacity: 1!important;
		}
	}
	.swiper-pagination-bullet-active {
		background-color: $color-white;
	}

	@media (max-width: $breakpoint-medium-max) {
		.uk-flex {
			-ms-flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;

			> .uk-width-large-2-3 {
				order: 2;
			}
			> .uk-width-large-1-3 {
				order: 0;
			}
		}
		&__container {
			margin-left: -10px!important;
			margin-right: -10px!important;
		}
	}
}

.bmt-bonuses {
	margin-top: 60px;
	padding: 43px 0 75px;
	background-color: #f7f7f7;

	.bmt-section__title {
		hr {
			border-color: $color-white;
		}
	}

	.uk-grid-margin {
		margin-top: 20px;
	}

	&__item {
		@extend .pos-rlt;
		@extend .d-b;
		padding: 30px 10px 0 25px;
		overflow: hidden;
		color: $color-black;
		@include brd($border-color);
		@include fs(16px, 22px);
		@include fw(300);
		@include bc($color-white);

		&:after {
			position: absolute;
			content: '';
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
			z-index: 2;
			border: 2px solid $color-green;
			@include transition(all .25s);

			opacity: 0;
		}
		
		&:hover,
		&:focus,
		&:active {
			color: $color-black;

			&:after {
				opacity: 1;
			}
			p:not([class]) {
				text-decoration: underline;
			}
		}

		p:not([class]) {
			margin: 30px 0;
		}

		&-sale {
			display: inline-block;
			margin-bottom: 60px;
			@include fs(70px, 50px);
			@include fw(900);
			font-style: italic;
		}
		&-category {
			position: absolute;
			bottom: 20px;
			right: 20px;
			@extend .tt-upper;
			@include fw(700);
			@include fs(10px, 22px);
			font-style: italic;
			color: $color-gray-light;

			&--white {
				color: $color-white;
			}
		}
		&-date {
			position: absolute;
			top: 24px;
			right: 0;
			z-index: 2;
			height: 30px;
			margin: 0;
			padding: 0 15px;
			@include fw(700);
			@include fs(10px, 30px);
			font-style: italic;
			color: $color-white;
			@include bc($color-green);

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				border-top: 30px solid $color-green;
				border-left: 14px solid transparent;
			}
		}

		&--black {
			color: $color-white;
			background-color: $color-black;

			.bmt-bonuses__item {
				&-category {
					color: $color-white;
				}
				&-date {
					background-color: $color-red;
					&:after {
						border-top: 30px solid $color-red;
					}
				}
			}
			&:hover,
			&:focus,
			&:active {
				color: $color-white;
			}
		}
	}

	@media (max-width: $breakpoint-small-max) {
		&__item {
			min-height: 240px;
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		&__item {
			min-height: 300px;
		}
	}
}

.bmt-forecasts-tv {
	padding: 40px 0 60px;

	@media (max-width: $breakpoint-small-max) {
		iframe {
			height: 350px;
		}
	}
	@media (max-width: $breakpoint-mini-max) {
		iframe {
			height: 220px;
		}
	}
}

.bmt-rates {
	padding: 50px 0 60px;
	background-color: #f7f7f7;

	.bmt-section__title {
		hr {
			border-color: $color-white;
		}
	}

	.uk-grid-margin {
		margin-top: 20px;
	}

	&__item {
		position: relative;
		@extend .d-b;
		color: $color-black;
		@include brd($border-color);

		&:after {
			position: absolute;
			content: '';
			top: -1px;
			right: -1px;
			bottom: -1px;
			left: -1px;
			z-index: 2;
			border: 2px solid $color-green;
			@include transition(all .25s);

			opacity: 0;
		}

		> img {
			width: 100%;
		}

		h3 {
			margin: 10px 0 0;
		}

		.uk-breadcrumb {
			display: inline-block;
			margin: 0;
		}

		&-content {
			padding: 20px 23px;
			@include fs(12px, 22px);
		}

		&-category {
			@extend .d-ib;
			@include fs(10px, 22px);
			@extend .tt-upper;
			@include fw(700);
			font-style: italic;
			color: $color-gray-light;
		}

		&-date {
			float: right;
			color: $color-gray-light;
		}

		&-img {
			text-align: center;
		}

		&-meta {
			margin-top: 15px;

			> * {
				@extend .d-ib;
				@extend .va-m;
			}

			&__like,
			&__share {
				padding-left: 25px;
				background-repeat: no-repeat;
				background-size: 13px auto;
				background-position: left center;
			}

			&__like {
				margin-right: 16px;
				@include bi-img('../svg/like.svg');
			}

			&__share {
				@include bi-img('../svg/share.svg');
			}
		}

		&-video {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 60px;
				height: 60px;
				margin-top: -30px;
				margin-left: -30px;
				background-image: url('../svg/play.svg');
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center;
			}
			> img {
				width: 100%;
			}
		}

		.uk-position-bottom-left {
			padding: 0 23px 20px 23px;
		}
		
		&:hover,
		&:focus,
		&:active {
			color: $color-black;
			&:after {
				opacity: 1;
			}
			.bmt-rates__item-category {
				color: $color-black;
			}
			h3 {
				text-decoration: underline;
			}
			.bmt-rates__item-meta {
				&__like {
					@include bi-img('../svg/like-green.svg');
				}
				&__share {
					@include bi-img('../svg/share-green.svg');
				}
			}
		}

		&--black {
			background-color: $color-black;
			border: none;
			h3 {
				color: $color-white;
				text-align: center;
			}
			.bmt-rates__item {
				&-content {
				}
				&-meta {
					text-align: center;
					color: $color-white;
					&__like {
						@include bi-img('../svg/like-white.svg');
					}
					&__share {
						@include bi-img('../svg/share-white.svg');
					}
				}

				&-date,
				&-category {
					color: $color-white;
				}
			}
			.uk-position-bottom-left {
				width: 100%;
			}
			&:hover,
			&:focus,
			&:active {
				&-category {
					text-decoration: underline;
				}
				h3 {
					text-decoration: underline;
				}
				.bmt-rates__item-meta {
					&__like {
						@include bi-img('../svg/like-green.svg');
					}
					&__share {
						@include bi-img('../svg/share-green.svg');
					}
				}
			}
		}

		&--image {
			color: $color-white;
			@extend .bs-cov;
			@extend .br-no;
			@include bp();
			border: none;

			h3 {
				max-width: 320px;
				@include fs(24px, 34px);
				color: $color-white;
			}
			.bmt-rates__item {
				&-content {
					border: none;
				}
				&-meta {
					margin-top: 35px;
					&__like {
						@include bi-img('../svg/like-white.svg');
					}
					&__share {
						@include bi-img('../svg/share-white.svg');
					}
				}
				&-date {
					color: $color-white;
				}
			}
			&:hover,
			&:focus,
			&:active {
				color: $color-white;
				.bmt-rates__item-meta {
					color: $color-white;
					&__like {
						@include bi-img('../svg/like-green.svg');
					}
					&__share {
						@include bi-img('../svg/share-green.svg');
					}
				}
			}
		}

		&--advertising {
			height: 100%;
			overflow: hidden;
			> img {
				min-height: 100%;
				min-width: 100%;
				max-width: none;
			}
			.bmt-rates__item-category {
				@include fs(12px, 22px);
				@include fw(400);
				font-style: normal;
				color: $color-white;
			}
			&:hover,
			&:focus,
			&:active {
				&:after {
					opacity: 0;
				}
				.bmt-rates__item-category {
					color: $color-green;
				}
			}
		}
	}

	@media (max-width: $breakpoint-medium-max) {
		&__item {
			min-height: 260px;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		&__item {
			min-height: 320px;
		}
	}
}